<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffee.system.mapper.SysRoleMenuMapper">

    <resultMap id="BaseResultMap" type="com.coffee.system.model.SysRoleMenu">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="roleId" column="role_id" jdbcType="INTEGER"/>
            <result property="menuId" column="menu_id" jdbcType="INTEGER"/>
            <result property="roleMenuType" column="role_menu_type" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,menu_id,
        role_menu_type,create_time
    </sql>
    <select id="getSysRoleMenuDtoByRid" resultType="com.coffee.system.dto.SysRoleMenuDto">
        SELECT
            sys_role_menu.*,
            sys_menu.parent_id,
            sys_menu.sys_menu_name,
            sys_menu.sys_menu_icon
        FROM
            sys_role_menu
            LEFT JOIN
            sys_menu
            ON
                sys_role_menu.menu_id = sys_menu.id
        WHERE
            sys_role_menu.role_id = #{rid}
        ORDER BY
            sys_role_menu.menu_id,
            sys_menu.parent_id
    </select>
</mapper>
